body{
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;

}
h1{
    font-size: 32px;
    margin-bottom: 10px;
    color:red;
}

h2{
    font-size: 22px;
    color:blue;
}

p{
    font-size: 18px;
    line-height: 1.6;
}

ul{
    background: black;
    color:red;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.container{
    max-width: 800px;
    margin:auto;
    background: white;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap:20px;
}