body{
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 40px;

}
h1{
    color:red;
}

h2{
    color:blue;
}

p{
    line-height: 1.6;
}

ul{
    background: black;
    color:red;
    padding: 15px;
    border-radius: 20px;
}