body{
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;

}
h1{
    font-size: 32px;
    margin-bottom: 10px;
    color:red;
}

h2{
    font-size: 22px;
    color:blue;
}

p{
    font-size: 18px;
    line-height: 1.6;
}

ul.skill{
    background: gray;
    color:yellow;
    padding: 25px;
    border-radius: 20px;
    line-height: 1.8;
}

.container{
    max-width: 800px;
    margin:auto;
    background: white;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap:3px;
}

ul.link{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 5px;
}
a{
    color: blue;
    transition: color 0.5s ease;
}
a:hover{
    color:red;
}
