body{
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 40px;

}
h1{
    color:red;
}

h2{
    color:blue;
}

p{
    line-height: 1.6;
}

ul{
    background: black;
    color:red;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.container{
    max-width: 1000px;
    margin:auto;
    background: white;
    padding: 40px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap:20px;
}